{
    "eslintConfig": {
        "extends": ["react-app", "shared-config"],
        "rules": {
          "additional-rule": "warn"
        }
    },
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "rules": {
        "no-console": "warn"
    }
}