@import "../../../global-styles/variables";

.p-alert {
    padding: 23px 15px 23px 0;
    border-radius: 5px;
    background-size: cover;
}
.p-alert__txt {
    margin-left: 95px;
    color: $white;
    font-family: $f-nunito;
}
.p-alert__txt__link {
    display: inline-block;
    margin-right: 10px;
    font-weight: $w-bold;
}
