@import "../../../global-styles/variables";

/// INDEX
//  + Main
//      + Main : Active
//  + Content
//  + Toggle
//  [ Responsive ]

//------------------------------
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    height: $header-height; // Safari's issue
    width: 100%;
    padding: 16px 12px;
    box-shadow: 0 2px 34px 0 rgba(27, 20, 119, 0.1);
    z-index: $z-header;

    //      + Main : Active
    &--active {
        .header__content {
            visibility: visible;
            right: 0;
        }
        .header__toggle-btn {
            &::before {
                top: calc(50% + 2px);
                background-color: $orange;
                transform: rotate(45deg) translateY(-50%);
            }
            &::after {
                bottom: calc(50% - 2px);
                background-color: $orange;
                transform: rotate(-45deg) translateY(50%);
            }
        }
        .header__toggle-btn__bar {
            opacity: 0;
            background-color: $orange;
        }
    }
}

//  + Content
.header__content {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: $header-height;
    right: -100%;
    width: 85%;
    height: 100vh;
    background-color: $white;
    box-shadow: 0 25px 34px 0 rgba(27, 20, 119, 0.1);
    transition: all $transition;
}
.header__content__item {
    &--search {
        display: block;
    }
}

//  + Toggle
.header__toggle-btn {
    display: flex;
    align-items: center;
    position: relative;
    height: 20px;
    width: 18px;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background-color: $blue;
        transition: all $transition;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
}
.header__toggle-btn__bar {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: $blue;
    transition: all $transition;
}

//  [ Responsive ]
// 960px
@media (min-width: $breakpoint-lg) {
    //  + Main
    //      + Main : Active
    //  + Content
    .header__content {
        visibility: visible;
        flex-direction: row-reverse;
        position: relative;
        top: unset;
        right: unset;
        width: auto;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        flex-grow: 1;
        justify-content: flex-start;
        transition: all $transition;
    }
    .header__content__item {
        &--action {
            margin-right: 45px;
        }
        &--icon {
            width: 32px;
            height: 32px;
            margin-right: 20px;
            + .header__content__item--icon {
                margin-right: 16px;
            }
        }
        &--search {
            max-width: 310px;
            min-width: 240px;
            width: 25%;
            margin-right: 10%;
        }
    }
    //  + Toggle
    .header__toggle-btn {
        display: none;
    }
}

// 960px
@media (min-width: $breakpoint-xl) {

//  + Main
//      + Main : Active
//  + Content
    .header__content__item {
        &--search {
            margin-right: 18%;
        }
    }
//  + Toggle
}
