@import "../../../global-styles/variables";

.noti {
    display: flex;
}
.noti__fig {
    max-width: 50px;
    max-height: 50px;
    margin-right: 13px;
    flex-shrink: 0;
}
.noti__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.noti__content__title {
    font-family: $f-gilroy;
    color: $dark-blue-title;
    font-size: 15px;
    width: 100%;
    max-width: 210px;
    font-weight: $w-bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.noti__content__date {
    font-family: $f-gilroy;
    font-size: 13px;
    font-weight: $w-bold;
}
